---
---
!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title= 'Jekyll Template'
    %link(rel="stylesheet" href="{{site.baseurl}}/css/normalize.css")
    %link(rel="stylesheet" href="{{site.baseurl}}//css/all.css")
    {% include _navigation.html %}
    {{content}}
    {% include _footer.html %}
