\---
\title: Vaughan
\layout: default
\---

%h1#logo
.content-container
  .content
    #about-us
      .title
        %h2 About Us
      .text
        %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren
        %button View Clients
    .line
    #contact-us
      .title
        %h2 Contact Us
      .text
        %p
          Vaughan Inc
          %br
          28 Scott Avenue
          %br
          Brooklyn, NY 11237
        %p
          646.484.8343
          %br
          %a(href="info@vaughaninc.com")info@vaughaninc.com
        %button Get in touch
